
.container-courses{

}

.header-container-courses{
    margin: 4px 16px 10px 132px;
    position: relative;
    display: flex;
    max-height:430px ;
}
.header-container-courses p{
    margin-bottom: 0px !important;
}
.img-header-courses-1 p,
.img-header-courses-22 p{
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
    bottom: 6px;
    margin-left: 12px;
}
.img-header-courses-1 .bg-color-white-50{
    position: absolute;
    bottom: -10px;
    width: 650px;
    height: 64px;
    background-color: #000;
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    transition: .5s ease;
}
.img-header-courses-1:hover .bg-color-white-50{
    opacity: 70%;
}
.img-header-courses-22 .bg-color-white-50{
    position: absolute;
    bottom: -10px;
    width: 480px;
    height: 52px;
    background-color: #000;
    margin-left: 5px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    transition: .5s ease;
}
.img-header-courses-22:hover .bg-color-white-50{
    opacity: 70%;
}
.img-header-courses-21 .bg-color-white-50{
    position: absolute;
    top:173px;
    height: 52px;
    width: 480px;
    background-color: #000;
    margin-left: 5px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0;
    transition: .5s ease;
}
.img-header-courses-21:hover .bg-color-white-50{
    opacity: 70%;
}
.img-header-courses-21 p{
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    color: #fff;
    top: 1px;
    margin-left: 12px;
}
.img-header-courses-1 img{
    width: 650px;
    height: 430px;
    margin-top: 10px;
    border-radius: 10px;
}
.img-header-courses-2 img{
    width: 480px;
    height: 213px;
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;
}


.suggestion-courses{
    position: relative;
    margin-top: 20px;
    display: flex;
    height: 90px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.item-suggestion-courses{
    position: relative;
    margin:0px 12px 0px 5px;
    width: 315px;
    display: flex;
    box-shadow: 2px 2px 4px #ccc;
    border-radius: 10px
}
.bg-item-suggestion{
    width: 75px;
    height: 75px;
    position: relative;
    border-radius: 15px;
}
.bg-item-suggestion p{
    position: relative;
    text-align: center;
    margin-top: 5px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
}
.name-item-suggestion{
    position: relative;
    margin: 10px 0px 5px 10px;
    font-size: 20px;
    font-weight: 700;
}
.title-item-suggestion{
    font-size: 16px;
    font-weight: initial;
    margin: 0px 0px 0px 12px;
}
