
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
footer{
    background-color: #212121;
    padding: 50px 20px;
    margin: 0 0 100px;
    
}
footer .container{
    width: 100px;
    max-width: 1100px;
    // margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 100px;
}

.container-footer{
    position: relative;
    margin-left: 130px;
    margin-top: 20px;
    background-color: #ccc;
    bottom: 0px;
    width: 100%;

}
.footer-content{
    position: relative;
    display: flex;
    padding-top: 12px;
}
.first-items-footer{
    position: relative;
    max-width: 35%;
    margin-right: 12px;
}
.first-content-footer{
    margin: 5px 0px 5px 2px;
}
.social-footer i{
    position: relative;
    font-size: 24px;
    margin-left: 12px;
}
.items-footer{
    position: relative;
    max-width: 20%;
    margin: 0px 5px 0px 2px;
    min-width: 19%;
}
.items-footer li{
    list-style-type: none;
}
.items-footer h3{
    font-size: 20px;
    font-weight: bold;
}
.items-footer a{
    font-size: 16px;
    font-weight: 600;
    opacity: 80%;
}
.items-footer a:hover{
    opacity: 1 !important;
}
.end-footer{
    position: relative;
    text-align: center;
    margin: 0px;
}