// clearfix::after {
//     content: "";
//     clear: both;
//     display: table;
// }
.content-banner {
    height: 100%;
    
}
.content-banner h1{
    color: #fff;
    text-align: center;
    line-height: 100vh;
    font-weight: bolder;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
#nav-banner{
    background-image: url(../../img/blog/bgr_blog.jpg);
    height:400px;
    width: 1218px;
    margin-left: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.main-content{
    width: 100%;
 }
#intro{
    width: 70%;
    float:left;
    padding-right: 2%;
    margin-left: 25px;
    border-right: #F2C09B 1px solid;
}
#contact{
    width: 30%;
    float: right; 
    margin-right: -30px;
    color: #97511E;
    
}
#contact h2{
    text-align: center;
    color: #97511E;
}

#contact i{
    color: #521e97;
    font-size: 18px;
}

.highlight
{
    color: #97511E;
    font-weight: 600;
    margin-bottom: 50px;
}

.main-content h2,
.blog-more .title h2{
    font-size: 38px;
    color: #97511E;
    margin-bottom: 40px;
    
}
.widget{
    width: 30%;
}
#content{
    width: 100%;
    margin: 6% auto;
    margin-left: 80px;
    margin-bottom: 3%;
    padding-bottom: 4%;
    border-bottom: #F2C09B 1px solid;
}
.img-main-content {
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}
.img-main-content img {
    width: 100%;
}
.main-content span {
    padding: 2px 6px;
    padding-top: 4px;
    margin: 0 5px;
    background: #F8E1C5;
    font-size: 14px;
    color: #97511E;
    font-weight: 600;
}

.blog-more {
    width: 100%;
    margin:0 auto;
    margin-left: 100px;
    
    
}
.post-blog{
    width: 20%;
    margin-left: 4%;
    position: relative;
    padding-bottom: 20px;  
}


.list-blog{
    display: flex;
    
   
}
.post-blog img {
    width: 100%;
    
}
.title-blog{
    text-align: center;
    color: #97511E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.post-blog .highlight{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 30px;
    height: 106px;
    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-line-clamp: 5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
   
}
.more{
    text-decoration: none;
    color:#692d01;
    border: #692d01 1px solid;
    font-size: 13px;
    font-weight: 600;
    padding: 0 10px;
    position: absolute;
    right: 0;
    bottom: 1px;
   
    
}
.more:hover{
    color:#fff;
    border: none;
    background: #692d01;
}

