@import 'variable';
@import 'footer';
@import 'login';
@import 'lession';

@import 'courses';
@import 'news';
@import 'about';
@import 'user';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    max-width: 1150px;

	scroll-behavior: smooth;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clear{
	clear: both;

}

h1{
    font-size: 18px;
}
a{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}
 a:hover{
    color: #000;
    opacity: 80%;
    text-decoration: none;

}
 
.mgl-132{
    margin-left: 132px;
}

.mg-courses{
    margin: 5px 0px 12px 16px;
}

// Header
#header{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 1px 4px #ccc;
    margin-bottom: 12px;
}

#header .img-logo{
    width: 65px;
    height: 65px;
    margin-left: 16px;
}
#header .header-search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid $shadow-color;
    width: 45%;
    height: 40px;
    border-radius: 20px;
    
}
#header input{
    border: none;
    position: initial;
    margin-left: 45px;
    margin-top: 8px;
    opacity: 0.6;
    outline: none;
}
#header .icon-search{
    position: absolute;
    font-weight: bold;
    opacity: 0.6;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.icon-user{
    float: right;
    margin-right: 32px;
    margin-top:18px;
    font-size: 24px;
}
.subnav-login{
    right: 0px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}
#header .subnav-login a{
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: normal;
    display: block;
}
#header .subnav-login a:hover{
    background-color: #ddd;
    border-radius: 10px;
}
.show{
    display: block;
}
#header .icon-bell{
    float: right;
    margin-right: 20px;
    margin-top:18px;
    font-size: 20px;
}
// header responsive

@media screen and (max-width: 900px) {
    #header a.header-slogan{
        display: none;
    }
    #header .header-search{
        width: 60%;
    }
   
}
@media screen and(max-width:600px) {
    #header .icon-user,
    #header .icon-bell{
        margin-right: 16px;
        font-size: 18px;
    }
}

// Sidebar-home

.container{
    max-width: 100%;
    margin: 65px 16px 0px;
    display: block;
}
.sidebar-left{
    width: 120px;
    height: 100%;
    position: fixed;
    float: left;
    left: 5px;
    background-color: #fff;
    z-index: 1;
    padding-top: 12px;
}
.sidebar-left a{
    display: flex;
    width: 100%;
    height: 92px;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 7px $shadow-color;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 500;
}

// sidebar-home responsive

@media screen and (max-width:600px) {
    .sidebar-left{
       width: 60px;
    }
    .sidebar-left a{
        font-size: 12px;
        height: 62px;
    }
    
}

// slides-home

//Slideshow container 
.slider{
    width: 1150px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 132px;  
}
  
.slides{
    width: 500%;
    height: 250px;
    display: flex;
}
.slides input{
    display: none;
}
  
.slide{
    width: 20%;
    transition: 2s;  
}
  
.slide img{
    width: 1150px;
    height: 250px; 
    border-radius: 10px; 
}
  
  /*css for manual slide navigation*/
  
.navigation-manual{
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
  
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

@media (max-width:640px){
    .items{
    flex-basis: 80%;
    margin: auto;
}

}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}

}
  .manual-btn:not(:last-child){
    margin-right: 40px;

}
  
.manual-btn:hover{
    background: #40D3DC;
}
  
#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}
  
/*css for automatic navigation*/
  
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 210px;
}
  
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
  
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
  
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
  
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
  
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
  
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}
        
// Home conntent
.home-content{
    margin-left: 142px;
}

// Slogan home
.slogan-home{
    position: relative;
    margin-top: 12px;
    font-size: 20px;
    max-width: 700px;
}
.slogan-home .name-slogan-home{
    font-weight: bold;
}

// Course home-------------------------------

.bg-color-violet{
    background: linear-gradient(to bottom right, #6631FF 0%, #A431FF 30%,#FF44F8 70%, #EE89FF 100%)
}
.bg-color-blue{
    background: linear-gradient(to bottom left, #236AF2 0%, #34ECE1 40%,#54DEE7 60%, #B6FF7C 90%)
}
.bg-color-origin{
    background: linear-gradient(to top right, #C800FA 0%, #FF7C1D 30%,#FF7D54 70%, #FFDE89 100%)
}
.bg-color-pink{
    background: linear-gradient(to top right, #FFEC41 0%, #DE08A2 40%,#FF73AE 80%, #FFCEF1 100%)
}
.bg-color-grenn{
    background: linear-gradient(to bottom, #81FBB8 0%, #28C76F 100%)
}

.course-home{
    position: relative;
}

.header-course-home{
    position: relative;
    margin-top: 32px;
}
.name-course-home{
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin-bottom: 0px;
}
.icon-users{
    position: relative;
    opacity: 70%;
}
.member-course-home{
    margin-top: -13px;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    margin-left: 25px;
    opacity: 70%;
}

.list-course-home{
    position: relative;
    margin-top: 20px;
    display: flex;
    max-width: 1100px;
    overflow: scroll;
}
.item-course{
    position: relative;
    width: 309px;
    height: 181px;
    border-radius: 20px;
    margin-right: 20px;
  }
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background:$shadow-color; 
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background: #333;

}
.icon-course{
    position: absolute;
    width: 164px;
    height: 120px;
    border-radius: 20px 0px 100px;
    background-color: #fff;
    opacity: 15%;
}
.icon-course-left{
    position: absolute;
    font-size: 100px;
    color: #000;
    opacity: 30%;
    margin-top: 5px;
    margin-left: 12px;
}
.content-course{
    width: 160px;
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    padding-top: 48px;
    margin-left: 120px;
    text-align: center;
}
.link-course{
    text-align: center;
    font-size: 12px;
    position: relative;
    color: #fff;
    font-weight: lighter;
}

.layout-course .footer-course{
    font-size: 18px;
    font-weight: 700;
    position: relative;
    margin-left: 12px;
    margin-bottom: 0px;
}


// News--------------------------

.list-news-home{
    position: relative;
    margin-top: 20px;
}
.list-news-home .layout-news{
    display: flex;
    margin-top: 12px;
    max-width: 280px;
}
.img-news-home{
    width: 280px;
    height: 130px;
    border-radius: 20px;
    position: relative;
    margin-right: 20px;
}
.title-news-home{
    margin: 5px 0px 2px 5px;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
.content-news-home{
    position: relative;
    margin: 0px 0px 8px 5px;
    font-size: 14px;
    font-weight: lighter
}
.footer-news-home{
    position: relative;
    display: flex;
    margin-top: 12px;
    margin-bottom: 10px;
}
.icon-like, .icon-comment, .icon-share{
    margin: 0px 32px 0px 5px;
    display: inline-flex;
    opacity: 70%;
}
.number-icon-news{
    margin-left: 4px;
}