@import 'variable';
@import 'login';
@import 'lession';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.clear{
	clear: both;

}

h1{
    font-size: 18px;
}
a{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}
 a:hover{
    color: #000;
    opacity: 90%;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}


// Header
#header{
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 1px 4px #ccc;
}

#header .img-logo{
    width: 65px;
    height: 65px;
    margin-left: 16px;
}
#header .header-search{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid $shadow-color;
    width: 45%;
    height: 40px;
    border-radius: 20px;
    
}
#header input{
    border: none;
    position: initial;
    margin-left: 45px;
    margin-top: 8px;
    opacity: 0.6;
    outline: none;
}
#header .icon-search{
    position: absolute;
    font-weight: bold;
    opacity: 0.6;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.icon-user{
    float: right;
    margin-right: 32px;
    margin-top:18px;
    font-size: 24px;
}
.subnav-login{
    right: 0px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}
#header .subnav-login a{
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: normal;
    display: block;
}
#header .subnav-login a:hover{
    background-color: #ddd;
    border-radius: 10px;
}
.show{
    display: block;
}
#header .icon-bell{
    float: right;
    margin-right: 20px;
    margin-top:18px;
    font-size: 20px;
}
// header responsive

@media screen and (max-width: 900px) {
    #header a.header-slogan{
        display: none;
    }
    #header .header-search{
        width: 60%;
    }
   
}
@media screen and(max-width:600px) {
    #header .icon-user,
    #header .icon-bell{
        margin-right: 16px;
        font-size: 18px;
    }
}

// Sidebar-home

.container{
    max-width: 100%;
    margin: 65px 16px 0px;
    display: block;
}
.sidebar-left{
    width: 110px;
    height: 100%;
    position: fixed;
    float: left;
    margin-top: 16px;
    left: 5px;
    background-color: #fff;
    z-index: 1;
}
.sidebar-left a{
    display: flex;
    width: 100%;
    height: 92px;
    border: 1px soid $shadow-color;
    border-radius: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 7px $shadow-color;
    margin-top: 4px;

}

// sidebar-home responsive

@media screen and (max-width:600px) {
    .sidebar-left{
       width: 60px;
    }
    .sidebar-left a{
        font-size: 12px;
        height: 62px;
    }
    
}

// slides-home

.mySlides {
    display: none;
}


/* Slideshow container */
.slideshow-container {
  margin-top: 65px;
  margin-right: 32px;
  position: relative;
  margin-left: 110px;
  padding-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px $shadow-color;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
  
.mySlides img{
    width: 100%;
    height: 330px;
    border-radius: 20px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Course item */
.bg-color-violet{
    background: linear-gradient(to bottom right, #6631FF 0%, #A431FF 30%,#FF44F8 70%, #EE89FF 100%)
}
.bg-color-blue{
    background: linear-gradient(to bottom left, #236AF2 0%, #34ECE1 40%,#54DEE7 60%, #B6FF7C 90%)
}
.bg-color-origin{
    background: linear-gradient(to top right, #C800FA 0%, #FF7C1D 30%,#FF7D54 70%, #FFDE89 100%)
}
.bg-color-pink{
    background: linear-gradient(to top right, #FFEC41 0%, #DE08A2 40%,#FF73AE 80%, #FFCEF1 100%)
}

.item-course{
    position: absolute;
    width: 309px;
    height: 181px;
    border-radius: 20px;
  }
.icon-course{
    position: absolute;
    width: 164px;
    height: 120px;
    border-radius: 20px 0px 100px;
    background-color: #fff;
    opacity: 15%;
}
.icon-course-left{
    position: absolute;
    font-size: 100px;
    color: #000;
    opacity: 30%;
    margin-top: 5px;
    margin-left: 12px;
}
.content-course{
    width: 160px;
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
    margin-top: 50px;
    margin-left: 120px;
    text-align: center;
}
.link-course{
    text-align: center;
    font-size: 12px;
    position: relative;
    color: #fff;
    font-weight: lighter;
}