.container-footer {
  position: relative;
  left: 130px;
  top: 40px;
  background-color: #fff;
  bottom: 0px;
  width: 1190px; }

.footer-content {
  position: relative;
  display: flex;
  padding-top: 12px; }

.first-items-footer {
  position: relative;
  max-width: 35%;
  margin-right: 12px; }

.first-content-footer {
  margin: 5px 0px 5px 2px; }

.social-footer i {
  position: relative;
  font-size: 24px;
  margin-left: 12px; }

.items-footer {
  position: relative;
  max-width: 20%;
  margin: 0px 5px 0px 2px;
  min-width: 19%; }

.items-footer li {
  list-style-type: none; }

.items-footer h3 {
  font-size: 20px;
  font-weight: bold; }

.items-footer a {
  font-size: 16px;
  font-weight: 600;
  opacity: 80%; }

.items-footer a:hover {
  opacity: 1 !important; }

.end-footer {
  position: relative;
  text-align: center;
  margin: 0px; }

#container-login a,
#container-register a {
  color: #fff; }

#container-login a:hover,
#container-register a:hover {
  color: #fff; }

#container-login,
#container-register {
  display: flex;
  flex-direction: column;
  margin: 12px auto;
  max-width: 660px;
  min-width: 600px; }

#container-login h2,
#container-register h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 10px 0px 10px; }

button.btn.btn-primary.btn-login {
  font-weight: bolder; }

.btn, .btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  text-align: center; }

#container-login p,
#container-register p {
  text-align: center;
  margin-top: 12px;
  font-weight: bolder; }

.btn:hover {
  opacity: 1; }

.fb {
  background-color: #3B5998;
  color: white; }

.google {
  background-color: #dd4b39;
  color: white; }

#container-lession {
  position: relative;
  display: flex; }

.start-lession {
  position: absolute;
  height: 500px;
  width: 800px;
  margin-top: 12px;
  z-index: 1113; }
  .start-lession .bg-start-lession {
    position: absolute;
    height: 500px;
    width: 800px;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 50px;
    border: 4px solid #ccc; }
  .start-lession .content-start-lession {
    z-index: 1001;
    opacity: 0.8 !important;
    color: #F81717;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 42px; }
  .start-lession .row-img-start-lession {
    z-index: 1111;
    position: absolute;
    margin: 164px 8px 0px 8px;
    left: 33px; }
    .start-lession .row-img-start-lession .colum-img-start-lession {
      width: 33.333%;
      height: 119px;
      float: left; }
      .start-lession .row-img-start-lession .colum-img-start-lession img {
        border: 2px solid #EF998E;
        border-radius: 15px;
        height: 119px; }
  .start-lession .slogan-lession {
    z-index: 1111;
    position: absolute;
    font-size: 30px;
    font-weight: 650;
    color: #F81717;
    margin: 181px 0px 0px 280px; }
  .start-lession .btn-start-lession {
    z-index: 1111;
    position: absolute;
    margin-top: 252px;
    margin-left: 339px;
    height: 57px;
    width: 120px;
    font-size: 32px;
    font-weight: 700;
    background-color: #04AA6D;
    border: none;
    outline: none;
    box-shadow: 1px 6px 4px #EF998E;
    color: #fff;
    border-radius: 10px;
    cursor: pointer; }
  .start-lession .btn-start-lession:hover {
    background-color: #46a049;
    border: none; }
  .start-lession .btn-start-lession:active {
    box-shadow: 1px 1px 4px #EF998E;
    transform: translateY(4px); }

.highlight {
  background-color: #B4D5FF; }

.video-lession {
  position: relative;
  margin-top: 5px;
  margin-left: 5px; }
  .video-lession .bg-video-lession {
    width: 900px;
    margin-left: -25px;
    margin-right: 12px; }
  .video-lession .svg-animation-lession {
    position: absolute;
    margin-top: 72px;
    margin-left: 121px; }
  .video-lession svg {
    height: 250px;
    width: 200px; }
    .video-lession svg #arm-right {
      transform-box: fill-box; }
    .video-lession svg #arm-left {
      transform-box: fill-box; }

.head-ok {
  animation: true-head 3s ease-in-out infinite alternate;
  transform-origin: center; }

.head-speak {
  animation: updown 1.5s ease-in-out infinite alternate; }

.eyes-listen {
  animation: eyes 1.5s ease-in-out infinite alternate; }

.body-updown {
  animation: updown 1.5s ease-in-out infinite alternate;
  transform-origin: bottom; }

.arm-right-bye {
  animation: action-arm-right 1s ease-in-out infinite alternate !important; }

.arm-left-listen {
  transform: rotateZ(-16deg) scaleX(1) scaleY(-1) translateX(30px) translateY(-162px) translateZ(2px) !important; }

@keyframes eyes {
  from {
    transform: translateX(-24px); }
  to {
    transform: translateX(24px); } }

@keyframes updown {
  from {
    transform: rotateX(0deg); }
  to {
    transform: rotateX(-20deg); } }

@keyframes true-head {
  form {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(10deg); } }

@keyframes true-body {
  form {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(4deg); } }

@keyframes action-arm-right {
  from {
    transform: rotateZ(58deg) scaleX(1) scaleY(-1) translateX(-19px) translateY(-42px); }
  to {
    transform: rotateZ(13deg) scaleX(1) scaleY(-1) translateX(-19px) translateY(-42px); } }

.content-voice {
  position: absolute;
  width: 367px;
  height: 64px;
  bottom: 60px;
  left: 236px;
  border: solid 1px #fff;
  border-radius: 50px;
  box-shadow: 1px 1px 4px #fff;
  display: none; }
  .content-voice .content-voice-answer {
    font-size: 18px;
    font-weight: 500;
    color: #ccc;
    margin-top: 9px;
    margin-left: 25px;
    overflow: auto; }
  .content-voice .icon-true {
    display: none;
    margin-left: 384px;
    margin-top: -35px;
    position: absolute;
    font-size: 32px;
    color: #28C76F; }
  .content-voice .icon-false {
    display: none;
    margin-left: 384px;
    margin-top: -35px;
    position: absolute;
    font-size: 32px;
    color: #DE341D; }

.time-answer {
  position: absolute;
  top: 18px;
  left: 279px; }
  .time-answer img {
    width: 50px; }
  .time-answer p {
    font-size: 18px;
    font-weight: 800;
    color: #ccc;
    margin-top: -41px;
    margin-left: 54px; }
  .time-answer #bg-time-lession-js {
    width: 280px;
    background-color: #ddd;
    border-radius: 15px; }
  .time-answer #time-lession-js {
    width: 1%;
    height: 20px;
    border-radius: 15px; }

.voice-lession {
  position: absolute;
  font-size: 40px;
  bottom: -32px;
  margin-left: 336px;
  text-align: center;
  z-index: 1112; }
  .voice-lession p {
    font-size: 24px;
    color: #808080;
    font-weight: 500;
    opacity: 60%;
    margin-bottom: 0px; }
  .voice-lession .icon-circle {
    color: #a9081c;
    border-radius: 100px;
    border: 7px solid #808080;
    opacity: 0.6; }
  .voice-lession .icon-circle:hover {
    cursor: pointer;
    opacity: 0.9; }
  .voice-lession .icon-voice {
    position: absolute;
    color: #a9081c;
    opacity: 0.5;
    left: 54px;
    bottom: 46px;
    display: none;
    animation: flash 500ms infinite; }

@keyframes flash {
  0% {
    font-size: 40px;
    opacity: 60%; }
  25% {
    font-size: 41px;
    opacity: 70%; }
  50% {
    font-size: 42px;
    opacity: 90%; }
  75% {
    font-size: 41px;
    opacity: 70%; }
  100% {
    font-size: 40px;
    opacity: 60%; } }
  .voice-lession .icon-voice:hover {
    cursor: pointer;
    opacity: 80%; }

.next-back-quesion {
  position: absolute;
  bottom: 6px;
  left: 262px;
  font-size: 36px;
  z-index: 1111; }
  .next-back-quesion .icon-next-quesion {
    position: absolute;
    display: none;
    margin-left: 207px;
    bottom: 8px;
    opacity: 60%; }
  .next-back-quesion .icon-next-quesion:hover {
    opacity: 1 !important;
    cursor: pointer; }
  .next-back-quesion .icon-back-quesion {
    display: none;
    opacity: 40%;
    margin-left: 40px;
    bottom: 8px;
    position: absolute; }
  .next-back-quesion .icon-back-quesion:hover {
    opacity: 1 !important;
    cursor: pointer; }

.good {
  animation: confetti 3s ease-in infinite; }

@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg); }
  10% {
    opacity: 1; }
  35% {
    transform: translateY(-800%) rotate(270deg); }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg); } }

.volume-lession .icon-volume {
  position: absolute;
  bottom: 201px;
  width: 52px;
  height: 52px;
  border-radius: 10px;
  font-size: 30px;
  color: #DEB7B8;
  background: linear-gradient(90deg, rgba(240, 95, 87, 0.8) 31.13%, rgba(54, 9, 64, 0.8) 100%);
  left: 297px;
  box-shadow: 1px 5px 2px #DEB7B8;
  border: none;
  outline: none;
  backdrop-filter: blur(4px);
  z-index: 2; }

.volume-lession .icon-volume:hover {
  cursor: pointer; }

.volume-lession .icon-volume:active {
  box-shadow: 1px 1px 4px #DEB7B8;
  transform: translateY(4px); }

.volume-lession .icon-turtle {
  width: 45px;
  color: #DEB7B8;
  position: absolute;
  left: 372px;
  bottom: 201px;
  border: none;
  height: 45px;
  background: linear-gradient(90deg, rgba(240, 95, 87, 0.8) 31.13%, rgba(54, 9, 64, 0.8) 100%);
  border-radius: 10px;
  outline: none;
  box-shadow: 1px 5px 2px #DEB7B8;
  backdrop-filter: blur(4px);
  z-index: 2; }

.volume-lession .icon-turtle:hover {
  cursor: pointer; }

.volume-lession .icon-turtle:active {
  box-shadow: 1px 1px 4px #DEB7B8;
  transform: translateY(4px); }

.setting-lession {
  position: absolute;
  top: 8px;
  right: 30px; }
  .setting-lession .icon-setting {
    font-size: 30px;
    opacity: 70%;
    margin-left: 125px;
    margin-top: 6px; }
  .setting-lession .icon-setting:hover {
    cursor: pointer;
    opacity: 1; }
  .setting-lession .modal-setting-lession {
    opacity: 0.6;
    width: 165px;
    height: 165px;
    border-radius: 10px;
    display: none; }
    .setting-lession .modal-setting-lession .title-setting-modal {
      font-size: 18px;
      font-weight: bold;
      padding: 10px 0px 8px 8px; }
      .setting-lession .modal-setting-lession .title-setting-modal p {
        position: absolute;
        margin-top: -26px;
        margin-left: 100px; }
    .setting-lession .modal-setting-lession .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 25px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s; }
    .setting-lession .modal-setting-lession .slider:hover {
      opacity: 1;
      cursor: pointer; }

.layout-quesion {
  display: none;
  position: absolute;
  top: 110px;
  left: 278px;
  width: 400px;
  height: 113px; }
  .layout-quesion .bg-layout-quesion {
    border-radius: 20px;
    opacity: 70%;
    height: 113px;
    box-shadow: 2px 2px 4px #a9081c; }
  .layout-quesion .content-quesion {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-top: -99px;
    position: absolute;
    margin-left: 26px; }

.line-lession {
  width: 630px;
  position: absolute;
  top: 326px;
  left: 103px; }
  .line-lession .line {
    height: 2px; }
  .line-lession .number-quesion {
    font-size: 24px;
    font-weight: 550;
    color: #808080;
    text-align: center;
    margin-bottom: 2px; }
  .line-lession .icon-left-lession {
    position: absolute;
    font-size: 28px;
    top: 5px;
    left: 244px;
    opacity: 40%; }
  .line-lession .icon-right-lession {
    position: absolute;
    font-size: 28px;
    top: 5px;
    right: 236px;
    opacity: 40%; }

.ai-lession {
  position: absolute;
  top: 21px;
  left: 3px; }
  .ai-lession .icon-ai-drop {
    font-size: 38px;
    color: #ccc;
    opacity: 50%;
    margin-left: 26px; }
  .ai-lession .icon-ai-drop:hover {
    cursor: pointer;
    opacity: 1; }
  .ai-lession .active-ai {
    border: solid 6px #236AF2 !important;
    box-shadow: 2px 2px 7px blue !important; }
  .ai-lession .ai-modal-lession {
    display: none; }
    .ai-lession .ai-modal-lession .item-ai-modal-lession {
      border: solid 6px #ccc;
      border-radius: 15px;
      width: 80px;
      height: 80px;
      margin: 6px;
      box-shadow: 2px 2px 7px #666; }
      .ai-lession .ai-modal-lession .item-ai-modal-lession .avatar-ai-lession {
        width: 69px;
        height: 69px;
        border-radius: 10px; }
      .ai-lession .ai-modal-lession .item-ai-modal-lession .co-ai-lession {
        width: 36px;
        margin-top: -52px;
        margin-left: 32px;
        border-radius: 0px 0px 5px 0px;
        opacity: 0.9; }

.sidebar-lession {
  position: relative;
  float: right;
  width: 400px;
  height: 100%;
  background-color: #fff;
  right: 0px;
  padding-right: 12px;
  margin-top: 5px; }

.header-sidebar-lession {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 12px;
  height: 80px;
  box-shadow: 0px 2px 4px #ccc; }

.header-sidebar-lession .content-header-lession {
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  margin: auto; }

.header-sidebar-lession .title-lession {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2px; }

.content-sidebar-lession {
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  border-radius: 10px;
  margin-top: 20px; }

.bg-sidebar-lession {
  position: absolute;
  height: 100%;
  width: 50px;
  opacity: 70%; }

.bg-color-green {
  background-color: #02FA72;
  opacity: 60%; }

.bg-color-yelow {
  background: linear-gradient(to bottom, #EFB622 0%, #F3CE6E 50%, #F0AF08 80%, #D19D17 100%); }

.bg-color-white {
  background-color: #fff;
  opacity: 30%; }

.bg-color-white-50 {
  background-color: #fff;
  opacity: 50%; }

.bg-color-blue-blue {
  background: linear-gradient(to bottom, #34ECE1 0%, #236AF2 20%, #236AF2 80%, #34ECE1 100%); }

.bg-color-redd {
  background-color: #EF998E; }

.bg-color-silver {
  background-color: #EFEFEF; }

.color-yelow {
  color: #FFEC41; }

.color-silver {
  color: #ccc;
  opacity: 60%; }

.color-red {
  color: #F81717; }

.bg-lession {
  width: 380px;
  height: 65px;
  margin: 4px auto;
  position: relative; }
  .bg-lession .name-lession {
    font-size: 22px;
    font-weight: 500;
    position: relative;
    padding-top: 5px;
    padding-left: 30px;
    margin-bottom: 0px; }
  .bg-lession .process-lession {
    margin-top: 3px;
    margin-left: 34px; }
    .bg-lession .process-lession .icon-star-lession {
      margin-right: 2px; }
  .bg-lession .layout-icon-lession {
    height: 65px;
    width: 380px;
    border-radius: 10px;
    position: absolute;
    margin-top: -65px; }
  .bg-lession .icon-lock {
    position: absolute;
    font-size: 28px;
    color: #ccc;
    margin-top: -42px;
    opacity: 80%;
    margin-left: 45%; }

.header-container-courses {
  margin: 4px 16px 10px 132px;
  position: relative;
  display: flex;
  max-height: 430px; }

.header-container-courses p {
  margin-bottom: 0px !important; }

.img-header-courses-1 p,
.img-header-courses-22 p {
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: #fff;
  bottom: 6px;
  margin-left: 12px; }

.img-header-courses-1 .bg-color-white-50 {
  position: absolute;
  bottom: -10px;
  width: 650px;
  height: 64px;
  background-color: #000;
  border-radius: 0px 0px 10px 10px;
  opacity: 0;
  transition: .5s ease; }

.img-header-courses-1:hover .bg-color-white-50 {
  opacity: 70%; }

.img-header-courses-22 .bg-color-white-50 {
  position: absolute;
  bottom: -10px;
  width: 480px;
  height: 52px;
  background-color: #000;
  margin-left: 5px;
  border-radius: 0px 0px 10px 10px;
  opacity: 0;
  transition: .5s ease; }

.img-header-courses-22:hover .bg-color-white-50 {
  opacity: 70%; }

.img-header-courses-21 .bg-color-white-50 {
  position: absolute;
  top: 173px;
  height: 52px;
  width: 480px;
  background-color: #000;
  margin-left: 5px;
  border-radius: 0px 0px 10px 10px;
  opacity: 0;
  transition: .5s ease; }

.img-header-courses-21:hover .bg-color-white-50 {
  opacity: 70%; }

.img-header-courses-21 p {
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: #fff;
  top: 1px;
  margin-left: 12px; }

.img-header-courses-1 img {
  width: 650px;
  height: 430px;
  margin-top: 10px;
  border-radius: 10px; }

.img-header-courses-2 img {
  width: 480px;
  height: 213px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 10px; }

.suggestion-courses {
  position: relative;
  margin-top: 20px;
  display: flex;
  height: 90px;
  overflow-x: scroll;
  overflow-y: hidden; }

.item-suggestion-courses {
  position: relative;
  margin: 0px 12px 0px 5px;
  width: 315px;
  display: flex;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 10px; }

.bg-item-suggestion {
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 15px; }

.bg-item-suggestion p {
  position: relative;
  text-align: center;
  margin-top: 5px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff; }

.name-item-suggestion {
  position: relative;
  margin: 10px 0px 5px 10px;
  font-size: 20px;
  font-weight: 700; }

.title-item-suggestion {
  font-size: 16px;
  font-weight: initial;
  margin: 0px 0px 0px 12px; }

.content-banner {
  height: 100%; }

.content-banner h1 {
  color: #fff;
  text-align: center;
  line-height: 100vh;
  font-weight: bolder;
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45); }

#nav-banner {
  background-image: url(../../img/blog/bgr_blog.jpg);
  height: 400px;
  width: 1218px;
  margin-left: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.main-content {
  width: 100%; }

#intro {
  width: 70%;
  float: left;
  padding-right: 2%;
  margin-left: 25px;
  border-right: #F2C09B 1px solid; }

#contact {
  width: 30%;
  float: right;
  margin-right: -30px;
  color: #97511E; }

#contact h2 {
  text-align: center;
  color: #97511E; }

#contact i {
  color: #521e97;
  font-size: 18px; }

.highlight-news {
  color: #97511E;
  font-weight: 600;
  margin-bottom: 50px; }

.main-content h2,
.blog-more .title h2 {
  font-size: 38px;
  color: #97511E;
  margin-bottom: 40px; }

.widget {
  width: 30%; }

#content {
  width: 100%;
  margin: 6% auto;
  margin-left: 80px;
  margin-bottom: 3%;
  padding-bottom: 4%;
  border-bottom: #F2C09B 1px solid; }

.img-main-content {
  width: 80%;
  margin: auto;
  margin-bottom: 40px; }

.img-main-content img {
  width: 100%; }

.main-content span {
  padding: 2px 6px;
  padding-top: 4px;
  margin: 0 5px;
  background: #F8E1C5;
  font-size: 14px;
  color: #97511E;
  font-weight: 600; }

.blog-more {
  width: 100%;
  margin: 0 auto;
  margin-left: 100px; }

.post-blog {
  width: 20%;
  margin-left: 4%;
  position: relative;
  padding-bottom: 20px; }

.list-blog {
  display: flex; }

.post-blog img {
  width: 100%; }

.title-blog {
  text-align: center;
  color: #97511E;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px; }

.post-blog .highlight-news {
  font-size: 14px;
  text-align: justify;
  margin-bottom: 30px;
  height: 106px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical; }

.more {
  text-decoration: none;
  color: #692d01;
  border: #692d01 1px solid;
  font-size: 13px;
  font-weight: 600;
  padding: 0 10px;
  position: absolute;
  right: 0;
  bottom: 1px; }

.more:hover {
  color: #fff;
  border: none;
  background: #692d01; }

.main-detail {
  width: 100%;
  margin-left: 15px; }

#detail-content {
  width: 70%;
  float: left;
  padding-right: 2%;
  margin-left: 25px;
  border-right: #F2C09B 1px solid; }

#detail-content h2 {
  text-align: center; }

#recent {
  width: 30%;
  float: right;
  margin-right: -30px;
  color: #97511E; }

.main-detail h2 {
  font-size: 32px;
  color: #97511E;
  margin-bottom: 40px; }

.img-main-detail {
  width: 80%;
  margin: auto;
  margin-bottom: 40px; }

.img-main-detail img {
  width: 100%; }

.main-detail span {
  padding: 2px 6px;
  padding-top: 4px;
  margin: 0 5px;
  background: #F8E1C5;
  font-size: 14px;
  color: #97511E;
  font-weight: 600; }

.detail_title {
  color: #888;
  margin-bottom: 50px; }

.widget {
  width: 30%; }

#detail {
  width: 100%;
  margin: 6% auto;
  margin-left: 80px;
  margin-bottom: 3%;
  padding-bottom: 4%; }

.img-detail-content {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 30px; }

.img-detail-content img {
  width: 100%; }

.detail-content span {
  padding: 2px 6px;
  padding-top: 4px;
  margin: 0 5px;
  background: #F8E1C5;
  font-size: 14px;
  color: #000;
  font-weight: 600; }

.container-about {
  padding-top: 42px;
  margin-left: 200px !important; }

.header-container-about {
  font-size: 32px;
  font-weight: bolder; }

.content-container-about {
  margin-top: 12px; }

.item-mission-about {
  position: relative;
  display: flex;
  margin-top: 16px;
  width: 100%;
  height: 240px;
  box-shadow: 2px 3px 4px #ccc;
  border-radius: 10px; }

.item-mission-about img {
  height: 180px;
  width: 330px;
  border-radius: 10px;
  margin: auto; }

.item-mission-about div {
  max-height: 170px;
  margin: auto; }

.item-mission-about h3,
.item-mission-about-center h3,
.name-method-about {
  font-size: 24px;
  font-weight: 650;
  margin: 2px 0px 8px 8px; }

.item-mission-about h4,
.item-mission-about-center h4,
.content-method-about {
  font-size: 16px;
  font-weight: 450;
  margin: 0px 0px 2px 8px;
  line-height: 1.5; }

.item-mission-about-center {
  position: relative;
  display: block;
  margin-top: 16px;
  width: 100%;
  height: 500px;
  box-shadow: 2px 3px 4px #ccc;
  border-radius: 10px; }

.item-mission-about-center img {
  height: 265px;
  width: 90%;
  margin-left: 39px;
  border-radius: 10px;
  margin-bottom: 12px; }

.container-user {
  position: relative;
  padding-top: 20px;
  margin-left: 32px; }

.header-user {
  position: relative;
  display: flex;
  height: 232px;
  width: 775px;
  box-shadow: 1px 1px 4px #ccc;
  border-radius: 15px; }

.avatar-header-user {
  width: 173px;
  height: 173px;
  border-radius: 20px;
  margin: auto 24px;
  box-shadow: 0px 0px 5px #ccc; }

.name-header-user {
  margin: 30px 0px 4px 0px;
  font-size: 24px;
  font-weight: bold; }

.email-header-user {
  font-size: 12px;
  font-weight: 500;
  opacity: 70%; }

.info-header-user i {
  display: inline-flex;
  opacity: 70%;
  font-size: 18px; }

.info-header-user .time-header-user {
  margin-bottom: 0px; }

.facebook-header-user {
  margin: 4px 0px 8px 0px;
  font-size: 18px;
  font-weight: 500;
  opacity: 70%; }

.icon-header-user {
  width: 52px;
  height: 34px; }

.header-user button {
  width: 132px;
  height: 54px;
  border: none;
  border-radius: 15px;
  color: #fff;
  margin: 30px 0px 0px 261px;
  box-shadow: 2px 2px 4px #ccc;
  font-size: 24px;
  font-weight: 700; }

.container-user h2 {
  position: relative;
  margin: 13px 0px 8px 16px;
  font-size: 30px;
  font-weight: bolder; }

.dashboard-user {
  position: relative;
  margin-top: 12px;
  display: flex;
  width: 1100px;
  height: 300px;
  box-shadow: 0px -1px 4px #ccc;
  border-radius: 10px; }

.mission-dashboard-user {
  position: relative;
  margin: 4px 0px 4px 6px; }

.item-mission-dashboard {
  position: relative;
  display: flex;
  width: 510px;
  height: 105px;
  box-shadow: 1px 1px 4px #ccc;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 16px; }

.item-mission-dashboard img {
  width: 85px;
  height: 85px; }

.title-mission-item-dashboard {
  display: inline-flex; }

.name-mission-item-dashboard {
  margin: 2px 12px 8px 4px;
  font-size: 20px;
  font-weight: bold; }

.number-mission-item-dashboard {
  margin: 12px 0px 8px 237px;
  font-size: 12px;
  font-weight: 550;
  opacity: 70%; }

.progress-mission-item-dashboard {
  height: 22px;
  width: 88px;
  border-radius: 15px;
  position: absolute; }

.all-progress-mission-item {
  height: 22px;
  width: 390px;
  border-radius: 15px;
  background-color: #ccc; }

.achievements-dashboard-user {
  position: relative;
  height: 100%;
  width: 500px;
  margin: 12px 0px 8px 64px; }

.item-achievements-dashboard-user {
  max-width: 190px;
  height: 103px;
  box-shadow: 0px 0px 5px #ccc;
  display: flex;
  border-radius: 15px;
  margin-left: 24px; }

.item-achievements-dashboard-user img {
  width: 85px;
  height: 85px; }

.name-item-achievements-dashboard-user {
  margin: auto;
  font-size: 18px;
  font-weight: 750; }

.container-admin {
  position: relative;
  margin-top: 66px;
  display: flex; }
  .container-admin .header-admin {
    display: block; }
    .container-admin .header-admin .menu-admin {
      display: flex;
      margin-top: 12px;
      margin-left: 1px; }
      .container-admin .header-admin .menu-admin .btn-tablink-admin {
        font-size: 18px;
        font-weight: 550;
        opacity: 80%;
        color: #F81717;
        width: 182px;
        height: 42px;
        border: none;
        outline: none;
        background-color: #FBFBFB;
        box-shadow: 1px 4px 4px #ccc; }
      .container-admin .header-admin .menu-admin .btn-tablink-admin:hover {
        cursor: pointer;
        opacity: 1; }
      .container-admin .header-admin .menu-admin .btn-tablink-admin:active {
        box-shadow: 1px -1px 6px #ccc;
        transform: translateY(-3px); }
  .container-admin .tabcontent-admin {
    margin-left: 16px;
    display: none; }
    .container-admin .tabcontent-admin .add-course-admin {
      font-size: 16px;
      font-weight: 550;
      opacity: 80%;
      width: 130px;
      height: 40px;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #55B77E;
      color: #FBFBFB;
      margin-left: 560px;
      box-shadow: 1px 4px 4px #ccc; }
    .container-admin .tabcontent-admin .add-course-admin:hover {
      cursor: pointer;
      opacity: 1; }
    .container-admin .tabcontent-admin .add-course-admin:active {
      box-shadow: 1px 1px 4px #ccc;
      transform: translateY(4px); }

.container-admin-create {
  position: relative;
  margin-top: 66px; }
  .container-admin-create .form-create-course {
    margin-top: 32px; }
    .container-admin-create .form-create-course label {
      font-size: 18px;
      font-weight: 550; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  max-width: 1150px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.clear {
  clear: both; }

.show {
  display: block !important; }

h1 {
  font-size: 18px; }

a {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none; }

a:hover {
  color: #000;
  opacity: 80%;
  text-decoration: none; }

.mgl-132 {
  margin-left: 132px; }

.mg-courses {
  margin: 5px 0px 12px 16px; }

#header {
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 1px 4px #ccc;
  margin-bottom: 12px; }

#header .img-logo {
  width: 60px;
  height: 65px;
  margin-left: 16px; }

#header .header-search {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #dce0e3;
  width: 45%;
  height: 40px;
  border-radius: 20px; }

#header input {
  border: none;
  position: initial;
  margin-left: 45px;
  margin-top: 8px;
  opacity: 0.6;
  outline: none; }

.search-icon {
  width: 2.8em;
  height: 2.6em;
  cursor: pointer;
  position: absolute;
  left: 0em;
  outline: 0;
  background: none;
  border: 0; }

.icon-user {
  float: right;
  margin-right: 32px;
  margin-top: 18px;
  font-size: 24px; }

.subnav-login {
  right: 0px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  border-radius: 10px; }

#header .subnav-login a {
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: normal;
  display: block; }

#header .subnav-login a:hover {
  background-color: #ddd;
  border-radius: 10px; }

#header .icon-bell {
  float: right;
  margin-right: 20px;
  margin-top: 18px;
  font-size: 20px; }

@media screen and (max-width: 900px) {
  #header a.header-slogan {
    display: none; }
  #header .header-search {
    width: 60%; } }

@media screen and (max-width: 600px) {
  #header .icon-user,
  #header .icon-bell {
    margin-right: 16px;
    font-size: 18px; } }

.container {
  max-width: 100%;
  margin: 65px 16px 0px;
  display: block; }

.sidebar-left {
  width: 120px;
  height: 100%;
  position: fixed;
  float: left;
  left: 5px;
  background-color: #fff;
  z-index: 1;
  padding-top: 12px; }
  .sidebar-left .btn-leftbar-main {
    border: none;
    outline: none;
    background-color: #fff;
    width: 121px;
    box-shadow: 3px 3px 7px #dce0e3; }
  .sidebar-left .btn-leftbar-main:active {
    box-shadow: 1px 1px 4px #dce0e3;
    transform: translateY(2px);
    transform: translateX(2px); }

.sidebar-left a {
  display: flex;
  width: 100%;
  height: 92px;
  border-radius: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  font-size: 20px;
  font-weight: 500; }

.sidebar-left a:hover {
  color: orangered; }

@media screen and (max-width: 600px) {
  .sidebar-left {
    width: 60px; }
  .sidebar-left a {
    font-size: 12px;
    height: 62px; } }

.slider {
  width: 1150px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 132px; }

.slides {
  width: 500%;
  height: 250px;
  display: flex; }

.slides input {
  display: none; }

.slide {
  width: 20%;
  transition: 2s; }

.slide img {
  width: 1150px;
  height: 250px;
  border-radius: 10px; }

/*css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 1200px;
  margin-top: -40px;
  display: flex;
  justify-content: center; }

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s; }

.manual-btn:not(:last-child) {
  margin-right: 40px; }

.manual-btn:hover {
  background: #40D3DC; }

#radio1:checked ~ .first {
  margin-left: 0; }

#radio2:checked ~ .first {
  margin-left: -20%; }

#radio3:checked ~ .first {
  margin-left: -40%; }

#radio4:checked ~ .first {
  margin-left: -60%; }

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: flex;
  width: 1200px;
  justify-content: center;
  margin-top: 210px; }

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s; }

.navigation-auto div:not(:last-child) {
  margin-right: 40px; }

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40D3DC; }

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40D3DC; }

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40D3DC; }

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40D3DC; }

.home-content {
  margin-left: 142px; }
  .home-content ::-webkit-scrollbar {
    width: 10px;
    height: 5px; }
  .home-content ::-webkit-scrollbar {
    width: 10px;
    height: 5px; }
  .home-content ::-webkit-scrollbar-track {
    border-radius: 10px; }
  .home-content ::-webkit-scrollbar-thumb {
    background: #dce0e3;
    border-radius: 10px; }
  .home-content ::-webkit-scrollbar-thumb:hover {
    background: #333; }

.slogan-home {
  position: relative;
  margin-top: 12px;
  font-size: 20px;
  max-width: 700px; }

.slogan-home .name-slogan-home {
  font-weight: bold; }

.bg-color-violet {
  background: linear-gradient(to bottom right, #6631FF 0%, #A431FF 30%, #FF44F8 70%, #EE89FF 100%); }

.bg-color-red {
  background-color: radial-gradient(#a9081c 20%, #d05146 60%, #b15a4b 100%); }

.bg-color-blue {
  background: linear-gradient(to bottom left, #236AF2 0%, #34ECE1 40%, #54DEE7 60%, #B6FF7C 90%); }

.bg-color-origin {
  background: linear-gradient(to top right, #C800FA 0%, #FF7C1D 30%, #FF7D54 70%, #FFDE89 100%); }

.bg-color-pink {
  background: linear-gradient(to top right, #FFEC41 0%, #DE08A2 40%, #FF73AE 80%, #FFCEF1 100%); }

.bg-color-green {
  background: linear-gradient(to bottom, #81FBB8 0%, #28C76F 100%); }

.bg-color-black {
  background: linear-gradient(to bottom right, #000 0%, #666 100%);
  opacity: 0.6; }

.course-home {
  position: relative; }

.header-course-home {
  position: relative;
  margin-top: 32px; }

.name-course-home {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  margin-bottom: 0px; }

.icon-users {
  position: relative;
  opacity: 70%; }

.member-course-home {
  margin-top: -13px;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  margin-left: 25px;
  opacity: 70%; }

.list-course-home {
  position: relative;
  margin-top: 20px;
  display: flex;
  max-width: 1100px;
  overflow: scroll; }

.item-course {
  position: relative;
  width: 309px;
  height: 181px;
  border-radius: 20px;
  margin-right: 20px; }

.icon-course {
  position: absolute;
  width: 164px;
  height: 120px;
  border-radius: 20px 0px 100px;
  background-color: #fff;
  opacity: 15%; }

.icon-course-left {
  position: absolute;
  font-size: 100px;
  color: #000;
  opacity: 30%;
  margin-top: 5px;
  margin-left: 12px; }

.content-course {
  width: 160px;
  font-size: 32px;
  font-weight: bolder;
  color: #fff;
  padding-top: 48px;
  margin-left: 120px;
  text-align: center; }

.link-course {
  text-align: center;
  font-size: 12px;
  position: relative;
  color: #fff;
  font-weight: lighter; }

.layout-course .footer-course {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  margin-left: 12px;
  margin-bottom: 0px; }

.list-news-home {
  position: relative;
  margin-top: 20px; }

.list-news-home .layout-news {
  display: flex;
  margin-top: 12px;
  max-width: 260px; }

.img-news-home {
  width: 260px;
  height: 140px;
  border-radius: 20px;
  position: relative;
  margin-right: 25px; }

.title-news-home {
  margin: 5px 0px 2px 5px;
  position: relative;
  font-size: 18px;
  font-weight: 600; }

.content-news-home {
  position: relative;
  margin: 0px 0px 8px 5px;
  font-size: 14px;
  font-weight: lighter;
  width: 260px; }

.footer-news-home {
  position: relative;
  display: flex;
  margin-top: 12px;
  margin-bottom: 10px; }

.icon-like, .icon-comment, .icon-share {
  margin: 0px 32px 0px 5px;
  display: inline-flex;
  opacity: 70%; }

.number-icon-news {
  margin-left: 4px; }
