
<div class="container-footer">
    <div class="footer-content">
        <div class="first-items-footer">
            <a href="#" class="logo-footer">EnglishLearnEasy.com</a>  
            <p class="first-content-footer"> EnglishLearnEasy.com is an English teaching website with integrated UI to support reading English, making learning English lively and intuitive.</p>
            <div class="social-footer">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-youtube-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
        <div class="items-footer">
            <h3> Website Navigation</h3>
            <ul>
                <li><a href="#">Home Page</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Communications</a></li>
                <li><a href="#">Service</a></li>                      
            </ul>                          
        </div>

        <div class="items-footer">
            <h3>Legal</h3>
        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">GDPR Compliance</a></li>
        </ul>
        </div>
        <div class="items-footer">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Knowledge Base</a></li>
                <li><a href="#">Video Tutorials</a></li>
            </ul>
        </div>

    </div>
    <hr>
    <p class="end-footer">Copyright © 2020 by EnglishLearnEasy. All rights reserved.</p>
</div>

