
<div id="header" class="myheader">
       <a href="/">
       <img src='http://localhost:3000/img/logo_web.png' alt="logo" class="img-logo">
       <a href="/" class="header-slogan"><span style= color:#F18121>Learning English</span> <span style= color:#2C7ABE>Easy</span></a></a>
       <div class="header-search">
          <form method="GET" action="/search">
           <button style="outline: 0;" type="submit" class="search-icon"> <span style="outline: 0;"></span><i class="fas fa-search fa-2x" style="color: #F2C09B;"></i></button>
           <input type="text" name='type' id="search-input"  placeholder="Tìm kiếm" required>
           </form>
       </div> 
          <i onclick="Mylogin()" class="fas fa-user-circle icon-user"></i>
            <div id="subnavlogin" class="subnav-login" >
                
                <a href="login">Đăng nhập</a>
                <a href="user">Thông tin</a>
                <a href="logout">Đăng xuất</a>
            </div>
          <i class="fas fa-bell icon-bell"></i>  
</div>
<script>
 //nhan lan dau mo, nhan lan 2 dong
   function Mylogin() {
  document.getElementById("subnavlogin").classList.toggle("show");
}

//nhan vao ben ngoai dong
window.onclick = function(event) {
  if (!event.target.matches('.icon-user')) {
    var dropdowns = document.getElementsByClassName("subnav-login");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
