
<div id="header" class="myheader">
       <a href="/">
       <img src='http://localhost:3000/img/logo_web.png' alt="logo" class="img-logo">
       <a href="/" class="header-slogan">Learn English easy</a></a>
       <div class="header-search">
           <i class="fas fa-search icon-search"></i>
           <input type="text" id="search" placeholder="Tìm kiếm ...">
       </div>
           <i class="fas fa-user-circle icon-user"></i>
           <i class="fas fa-bell icon-bell"></i>  
</div>
