 <div class="sidebar-left ">
    <button class="btn-leftbar-main"><a id="home-js" class="id-page-js"  href="/"><img src="http://localhost:3000/img/home.png"class="icon-home">Home</a></button>
    <button class="btn-leftbar-main"><a id="courses-js"class="id-page-js"  href="courses"><img src="http://localhost:3000/img/study.png"class="icon-learn">Courses</a></button>
    <button class="btn-leftbar-main"><a id="news-js"class="id-page-js"  href="news"><img src="http://localhost:3000/img/news.png"class="icon-news">News</a></button>
    <button class="btn-leftbar-main"><a id="about-js"class="id-page-js"  href="about"><img src="http://localhost:3000/img/information.png"class="icon-about">About</a></button>
</div>
<div class="container-about mgl-132">
    <div class="header-container-about">Giới thiệu</div>
    
    <ul class="nav nav-tabs nav-tabs-about">
        <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#mission-about">Tầm nhìn</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#method-about">Phương pháp</a>
        </li>
    </ul>

  <div class="tab-content content-container-about">
    
    <div id="mission-about" class=" tab-pane active">
       <div class="item-mission-about">
                <img src="http://localhost:3000/img/mission-1.jpg" alt="">
                <div>
                    <h3 class="name-mission-about">Cá nhân hóa giáo dục</h3>
                    <h4 class="content-item-mission-about">
                  Mỗi người đều có phương pháp học riêng. Lần đầu tiên trong lịch sử, lần đầu tiên trong lịch sử chúng tôi có thể phân tích từ cách thức học tập của hàng triệu người để tạo ra một hệ thống giáo dục hiệu quả, thích hợp nhất dành riêng cho từng học viên

Mục tiêu lớn nhất của chúng tôi là làm cho người học trải nghiệm Duolingo như đang học với gia sư riêng.
                    </h4>
                </div>
            </div>

            <div class="item-mission-about">
                <div>
                    <h3 class="name-mission-about">Học đơn giản hơn</h3>
                    <h4 class="content-item-mission-about">
                  Học ngoại ngữ trực tuyến thường nhàm chán, nên chúng tôi tạo ra một ứng dụng thú vị là Duolingo để giúp mọi người có động lực vừa chơi vừa học thêm kỹ năng mới mỗi ngày.
                    </h4>
                </div>
                <img src="http://localhost:3000/img/mission-2.png" alt="">
            </div>
            
             <div class="item-mission-about-center">
                <img src="http://localhost:3000/img/mission-3.jpg" alt="">
                <div>
                    <h3 class="name-mission-about">Tiếp cận từ mọi nơi trên thế giới</h3>
                    <h4 class="content-item-mission-about">
                  Có hơn 1.2 tỷ người đang học ngoại ngữ và phần lớn đang học vì muốn tiếp cận với nhiều cơ hội học tập hoặc làm việc tốt hơn. Đáng tiếc là quá trình dạy và học ngoại ngữ thường khá đắt đỏ, làm cho nhiều người không thể tiếp cận được.

Chúng tôi tạo ra Duolingo để tất cả mọi người đều có thể được học ngoại ngữ miễn phí - hoàn toàn không có chi phí ẩn hoặc nội dung phải trả tiền.<br>

Duolingo được sử dụng phổ biến, từ người giàu nhất thế giới, các diễn viên Hollywood đến những em học sinh tại trường công ở các nước đang phát triển. Chúng tôi tin vào quyền bình đẳng, mọi người đều xứng đáng có được một nền giáo dục chất lượng cao dù họ giàu hay nghèo.
                    </h4>
                </div>
            </div>

    </div>

    <div id="method-about" class="container tab-pane ">
       <p class="name-method-about">Phương pháp học tập của chúng tôi</p>
       <p class="content-method-about">Chúng tôi tin rằng tất cả mọi người đều có thể học ngôn ngữ với SpeakingAi. Những bài học ngắn, miễn phí tạo cảm giác giống như một trò chơi hơn là một quyển sách giáo khoa. Tất cả được thiết kế dựa trên nguyên lý: Khi vui vẻ bạn sẽ học tốt hơn.

Nhưng SpeakingAi không chỉ là một trò chơi. Phương pháp xây dựng SpeakingAi được chứng minh là khuyến khích người học nhớ tốt hơn, và chương trình học đáp ứng tiêu chuẩn quốc tế. Hãy cùng khám phá cách học ngôn ngữ trên SpeakingAi nhé!</p>

       <div class="item-mission-about item-about-method">
                <img src="http://localhost:3000/img/method1.jpg" alt="">
                <div>
                    <h3 class="name-mission-about">Giao tiếp đời thực </h3>
                    <h4 class="content-item-mission-about">
                  Ngôn ngữ là công cụ giao tiếp chủ chốt. SpeakingAi áp dụng phương pháp thiết thực bằng cách tập trung vào những nội dụng mà người học thực sự muốn áp dụng ngôn ngữ trong cuộc sống.

Các bài học tập trung vào tính ứng dụng - ví dụ như gọi món tại nhà hàng. Người học sẽ phát triển vốn từ và ngữ pháp cần thiết cho mục tiêu giao tiếp này thông qua nhiều hoạt động luyện tập đọc, viết, nghe và nói khác nhau.
                    </h4>
                </div>
            </div>
        
       <div class="item-mission-about item-about-method">
                <div>
                    <h3 class="name-mission-about">Rất nhiều phương pháp</h3>
                    <h4 class="content-item-mission-about">
                  Các cách tiếp xúc ngôn ngữ phong phú giúp mọi người học tốt hơn. Chính vì vậy chúng tôi tạo ra những trải nghiệm học tập khác nhau như các buổi giao lưu cá nhân, những câu chuyện tương tác và podcast.

Những hình thức bổ sung này giúp người học cải thiện khả năng tương tác, giao tiếp, kỹ năng đọc và nghe - những kỹ năng cần thiết khi sử dụng ngôn ngữ trong đời thực!
                    </h4>
                </div>
                <img src="http://localhost:3000/img/method2.png" alt="">
            </div>

        <div class="item-mission-about item-about-method">
                <img src="http://localhost:3000/img/method3.jpg" alt="">
                <div>
                    <h3 class="name-mission-about">Cá nhân hóa </h3>
                    <h4 class="content-item-mission-about">
                  Với hơn 500 triệu người học, bạn có thể nghĩ rằng sẽ rất khó để cá nhân hóa những hướng dẫn học tập. Tuy nhiên chúng tôi sẵn sàng chinh phục thử thách này! Các thuật toán học máy liên tục hoạt động để điều chỉnh độ khó tương ứng với trình độ của mỗi người học.
                    </h4>
                </div>
            </div>
        
        <div class="item-mission-about item-about-method">
                <div>
                    <h3 class="name-mission-about">Cập nhật liên tục</h3>
                    <h4 class="content-item-mission-about">
                 Chúng tôi sử dụng kết quả đó để cho ra mắt và nâng cấp các khóa học, mở rộng các công cụ học tập ngôn ngữ, cập nhật các biến thể ngôn ngữ và để đảm bảo rằng chúng tôi tiếp tục mang tới chương trình giáo dục ngôn ngữ tốt nhất thế giới. Giống như ngôn ngữ, chúng tôi phát triển không ngừng.
                    </h4>
                </div>
                <img src="http://localhost:3000/img/method4.jpg" alt="">
            </div>

    </div>

  </div>

</div>

<div class="container-footer">
    <div class="footer-content">
        <div class="first-items-footer">
            <a href="#" class="logo-footer">EnglishLearnEasy.com</a>  
            <p class="first-content-footer"> EnglishLearnEasy.com is an English teaching website with integrated UI to support reading English, making learning English lively and intuitive.</p>
            <div class="social-footer">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-youtube-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
        <div class="items-footer">
            <h3> Website Navigation</h3>
            <ul>
                <li><a href="#">Home Page</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Communications</a></li>
                <li><a href="#">Service</a></li>                      
            </ul>                          
        </div>

        <div class="items-footer">
            <h3>Legal</h3>
        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">GDPR Compliance</a></li>
        </ul>
        </div>
        <div class="items-footer">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Knowledge Base</a></li>
                <li><a href="#">Video Tutorials</a></li>
            </ul>
        </div>

    </div>
    <hr>
    <p class="end-footer">Copyright © 2020 by EnglishLearnEasy. All rights reserved.</p>
</div>
<script>
  document.getElementById("about-js").style.color="#F18121";

</script>