<div class="sidebar-left">
    <a href=""><i class="fas fa-home icon-home"></i>Home</a>
    <a href=""><i class="fas fa-graduation-cap icon-learn"></i>Learn</a>
    <a href=""><i class="fas fa-question-circle icon-question"></i>Quesion</a>
    <a href=""><i class="fas fa-newspaper icon-news"></i>News</a>
    <a href=""><i class="fas fa-info-circle icon-about"></i>About</a>
    
</div>
