<div id="container-lession">
    <div class="sidebar-lession">
        <div class="header-sidebar-lession">
            <div class="bg-green"></div>
            <p class="content-header-lession">Toeic Lession</p>
            <p class="title-lession">1/10 lession</p>    
        </div>
        <div class="content-sidebar-lession">
            <div class="bg-color-yelow"></div>
            <p class="content-lession">Start with Hello</p>
            
        </div>
    </div>

   
   
   
   
    <video class="bg-video-lession" loop autoplay muted playsinline >
        <source src="http://localhost:3000/img/videobgden.mp4" type="video/mp4">
       
    </video>
    
</div>
