<div id="container-lession">
    <div class="sidebar-lession">
        <div class="header-sidebar-lession">
            <div class="bg-sidebar-lession bg-color-green"></div>
            <p class="content-header-lession">Toeic Lession</p>
            <p class="title-lession">1/10 lession</p>    
        </div>
        <div class="content-sidebar-lession ">
            <div class="bg-lession bg-color-yelow">
                <p class="name-lession">Start with hello</p>
                <div class="bg-icon-medal bg-color-white"></div>
                <i class="fas fa-medal icon-medal"></i>
                <div class="bg-number-icon bg-color-white"></div>
                <p class="icon-number-medal">+1</p>
                
            </div>
             <div class="bg-lession bg-color-blue-blue">
                <p class="name-lession">Information</p>
                <div class="bg-icon-medal bg-color-white"></div>
                <i class="fas fa-medal icon-medal"></i>
                <div class="bg-number-icon bg-color-white"></div>
                <p class="icon-number-medal">+1</p>
                <div class="layout-icon-lession bg-color-white-50">
                </div>
                 <i class="fas fa-lock icon-lock"></i>
            </div>
             <div class="bg-lession bg-color-blue-blue">
                <p class="name-lession">Sport</p>
                <div class="bg-icon-medal bg-color-white"></div>
                <i class="fas fa-medal icon-medal"></i>
                <div class="bg-number-icon bg-color-white"></div>
                <p class="icon-number-medal">+1</p>
                 <div class="layout-icon-lession bg-color-white-50">
                 </div>
                 <i class="fas fa-lock icon-lock"></i> 
            </div>
             <div class="bg-lession bg-color-blue-blue">
                <p class="name-lession">Travel</p>
                <div class="bg-icon-medal bg-color-white"></div>
                <i class="fas fa-medal icon-medal"></i>
                <div class="bg-number-icon bg-color-white"></div>
                <p class="icon-number-medal">+1</p>
                 <div class="layout-icon-lession bg-color-white-50">
                 </div>
                 <i class="fas fa-lock icon-lock"></i> 
            </div>
             <div class="bg-lession bg-color-blue-blue">
                <p class="name-lession">Home town</p>
                <div class="bg-icon-medal bg-color-white"></div>
                <i class="fas fa-medal icon-medal"></i>
                <div class="bg-number-icon bg-color-white"></div>
                <p class="icon-number-medal">+1</p>
                 <div class="layout-icon-lession bg-color-white-50">
                 </div>
                  <i class="fas fa-lock icon-lock"></i>
            </div>
             <div class="bg-lession bg-color-blue-blue">
                <p class="name-lession">Films</p>
                <div class="bg-icon-medal bg-color-white"></div>
                <i class="fas fa-medal icon-medal"></i>
                <div class="bg-number-icon bg-color-white"></div>
                <p class="icon-number-medal">+1</p>
                <div class="layout-icon-lession bg-color-white-50">
                </div>
                <i class="fas fa-lock icon-lock"></i>
            </div>
        </div>
    </div>

   
   <div class="video-lession">
    <video class="bg-video-lession" loop autoplay muted playsinline >
        <source src="http://localhost:3000/img/background-lession2.mp4" type="video/mp4">
       
    </video>
    </div>
    
</div>
