<div class="container-news">

    <div class="sidebar-left ">
    <a href="/"><i class="fas fa-home icon-home"></i>Home</a>
    <a href="courses"><i class="fas fa-graduation-cap icon-learn"></i>Courses</a>
    <a href="news"><i class="fas fa-newspaper icon-news"></i>News</a>
    <a href="about"><i class="fas fa-info-circle icon-about"></i>About</a>
    </div>
 
    <div class="header-container-news mgl-132">
        <div class="bg-img-header-container-news"></div>
        <p class="content-header-container-news">Speaking English</p>
        <p class="title-header-container-news">Share your experience in communicating in English</p>
    </div>

    <div class="content-container-news mgl-132">
        <div class="list-news">
            <div class="header-list-news">
               <div class="item-header-list-news">
                   <img src="http://localhost:3000/img/news-1.png" alt="news">
                   <p class="title-item-header-list-news">Toeic Speaking</p>
                   <p class="content-item-header-list-news">Mẹo nói tiếng anh cực chuẩn cho người mới bắt đầu ...</p>
                   <i class="far fa-clock icon-clock">
                       <p class="time-item-header-list-news"> 11/2020 by Luckyy</p>
                   </i>
               </div>

               <div class="item-header-list-news">
                   <img src="http://localhost:3000/img/news-2.jpg" alt="news">
                   <p class="title-item-header-list-news">Toeic Speaking</p>
                   <p class="content-item-header-list-news">Mẹo nói tiếng anh cực chuẩn cho người mới bắt đầu ...</p>
                   <i class="far fa-clock icon-clock">
                       <p class="time-item-header-list-news"> 11/2020 by Luckyy</p>
                   </i>
               </div>

               <div class="item-header-list-news">
                   <img src="http://localhost:3000/img/news-3.jpg" alt="news">
                   <p class="title-item-header-list-news">Toeic Speaking</p>
                   <p class="content-item-header-list-news">Mẹo nói tiếng anh cực chuẩn cho người mới bắt đầu ...</p>
                   <i class="far fa-clock icon-clock">
                       <p class="time-item-header-list-news"> 11/2020 by Luckyy</p>
                   </i>
               </div>   
            </div>

            <div class="content-list-news">
               <div class="item-content-list-news">
                   <img src="http://localhost:3000/img/s4.png" alt="" >
                   <div>
                   <p class="name-item-content-list-news">Mẹo nói tiếng anh như người bản địa</p>
                   <p class="by-item-content-list-news">Luck - 11/2021</p>
                   <p class="title-item-content-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai, vì thế không ai hiểu bạn đang nói gì.Tốc độ nói của người Việt nhanh gấp 2,5 lần so với người Anh... </p>
                   </div>
               </div>

                <div class="item-content-list-news">
                   <img src="http://localhost:3000/img/s3.png" alt="" >
                   <div>
                   <p class="name-item-content-list-news">Mẹo nói tiếng anh như người bản địa</p>
                   <p class="by-item-content-list-news">Luck - 11/2021</p>
                   <p class="title-item-content-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai, vì thế không ai hiểu bạn đang nói gì.Tốc độ nói của người Việt nhanh gấp 2,5 lần so với người Anh...</p>
                   </div>
               </div>

                <div class="item-content-list-news">
                   <img src="http://localhost:3000/img/s2.png" alt="" >
                   <div>
                   <p class="name-item-content-list-news">Mẹo nói tiếng anh như người bản địa</p>
                   <p class="by-item-content-list-news">Luck - 11/2021</p>
                   <p class="title-item-content-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai, vì thế không ai hiểu bạn đang nói gì.Tốc độ nói của người Việt nhanh gấp 2,5 lần so với người Anh...</p>
                   </div>
               </div>

                <div class="item-content-list-news">
                   <img src="http://localhost:3000/img/s1.png" alt="" >
                   <div>
                   <p class="name-item-content-list-news">Mẹo nói tiếng anh như người bản địa</p>
                   <p class="by-item-content-list-news">Luck - 11/2021</p>
                   <p class="title-item-content-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai, vì thế không ai hiểu bạn đang nói gì.Tốc độ nói của người Việt nhanh gấp 2,5 lần so với người Anh...</p>
                   </div>
               </div>

            </div>
        </div>
        <div class="tab-news">
         <div class="header-tab-news">
             <p class="new-header-tab-news">New</p>
             <p class="topic-header-tab-new">Topic</p>
         </div>
         <div class="item-content-tab-news">
                   <img src="http://localhost:3000/img/news-1.png" alt="" >
                   <p class="title-item-tab-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai, vì thế không ai hiểu bạn đang nói gì.Tốc độ nói của người Việt nhanh gấp 2,5 lần so với người Anh... </p>
         </div>

          <div class="item-content-tab-news">
                   <img src="http://localhost:3000/img/s1.png" alt="" >
                   <p class="title-item-tab-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai... </p>
         </div>

          <div class="item-content-tab-news">
                   <img src="http://localhost:3000/img/s3.png" alt="" >
                   <p class="title-item-tab-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai, vì thế không ai hiểu bạn đang nói gì.... </p>
         </div>

          <div class="item-content-tab-news">
                   <img src="http://localhost:3000/img/s4.png" alt="" >
                   <p class="title-item-tab-list-news">Nếu bạn chưa rõ âm mà nói nhanh sẽ dẫn tới bị cuống và sai, vì thế không ai hiểu bạn đang nói gì.Tốc độ nói của người Việt...</p>
         </div>
        </div>
{{!-- footer --}}
    </div>
    <div class="container-footer">
    <div class="footer-content">
        <div class="first-items-footer">
            <a href="#" class="logo-footer">EnglishLearnEasy.com</a>  
            <p class="first-content-footer"> EnglishLearnEasy.com is an English teaching website with integrated UI to support reading English, making learning English lively and intuitive.</p>
            <div class="social-footer">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-youtube-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
        <div class="items-footer">
            <h3> Website Navigation</h3>
            <ul>
                <li><a href="#">Home Page</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Communications</a></li>
                <li><a href="#">Service</a></li>                      
            </ul>                          
        </div>

        <div class="items-footer">
            <h3>Legal</h3>
        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">GDPR Compliance</a></li>
        </ul>
        </div>
        <div class="items-footer">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Knowledge Base</a></li>
                <li><a href="#">Video Tutorials</a></li>
            </ul>
        </div>

    </div>
    <hr>
    <p class="end-footer">Copyright © 2020 by EnglishLearnEasy. All rights reserved.</p>
</div>
</div>