<div id="nav-banner"> 
    <div class="sidebar-left ">
        <a href="/"><i class="fas fa-home icon-home"></i>Home</a>
        <a href="http://localhost:3000/courses"><i class="fas fa-graduation-cap icon-learn"></i>Courses</a>
        <a href="http://localhost:3000/news"><i class="fas fa-newspaper icon-news"></i>News</a>
        <a href="http://localhost:3000/about"><i class="fas fa-info-circle icon-about"></i>About</a>
    </div>
    <div>
        <div class="clear"></div>
    </div>
</div>
<div id="detail">
    <div class="main-detail">
        <div id="detail-content">
            <h2>{{news.name}}</h2>
            <div class="img-detail-content">
                <img src={{news.image}} alt="">
            </div>
            <p class="detail_title">{{news.description}}</p>
        </div>
        <div id="recent">
             <h3>Liên hệ với chúng tôi</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3918.231171196193!2d106.80086541428768!3d10.870014160432852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1641135757545!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <h4>Contact Us</h4>
                    <i class="fas fa-phone-square-alt fa-2x "></i> Phone: (012) 38 64 18<br>
                    <i class="fas fa-envelope fa-2x"></i> Gmail: learnenglisheasy@gmail.com<br>
                    <i class="fab fa-google fa-2x"></i> Website: learnenglisheasy.com
                
        </div>
    </div>
    <div>
        <div class="clear"></div>
    </div>     
   
</div>
{{!-- style="position:absolute; margin-top: -420px;margin-left: 800px" --}}