<div class="container-user ">

    <div class="header-user ">
       <img src="http://localhost:3000/img/avatar.jpg" alt="" class="avatar-header-user">

       <div class="info-header-user">
           <p class="name-header-user">Lucky</p>
           <p class="email-header-user">@lucky123</p>
            <i class="far fa-clock icon-clock">
                <p class="time-header-user"> Jun 2021</p>
            </i>
           <p class="facebook-header-user">fb.com/lucky123</p>
           <img src="http://localhost:3000/img/vn.png" alt="" class="icon-header-user">
       </div>

     <button class="update-header-user bg-color-green">Update</button>
    </div>

     <h2>Dashboard</h2>
    <div class="dashboard-user">
     <div class="mission-dashboard-user">
       <div class="item-mission-dashboard">
           <img src="http://localhost:3000/img/dashboard1.jpg" alt="">
           <div>
               <div class="title-mission-item-dashboard">
               <p class="name-mission-item-dashboard">Số ngày</p>
               <p class="number-mission-item-dashboard">2/100</p>
               </div>
               <div class="progress-mission-item-dashboard bg-color-green"></div>
               <div class="all-progress-mission-item"></div>
           </div>
     </div>

      <div class="item-mission-dashboard">
           <img src="http://localhost:3000/img/dashboard2.jpg" alt="">
           <div>
               <div class="title-mission-item-dashboard">
               <p class="name-mission-item-dashboard">Điểm</p>
               <p class="number-mission-item-dashboard">200/1000</p>
               </div>
               <div class="progress-mission-item-dashboard bg-color-green"></div>
               <div class="all-progress-mission-item"></div>
           </div>
     </div>

    </div>
    
    <div class="achievements-dashboard-user row">
        <div class="item-achievements-dashboard-user col-6 col-lg-6">
            <img src="http://localhost:3000/img/master.jpg" alt="">
            <p class="name-item-achievements-dashboard-user">Bậc thầy phát âm</p>
        </div>

        <div class="item-achievements-dashboard-user col-6 col-lg-6">
            <img src="http://localhost:3000/img/lord.png" alt="">
            <p class="name-item-achievements-dashboard-user">Chúa tể ngôn từ</p>
        </div>

        <div class="item-achievements-dashboard-user col-6 col-lg-6">
            <img src="http://localhost:3000/img/dashboard3.jpg" alt="">
            <p class="name-item-achievements-dashboard-user">Kẻ giết ngữ pháp</p>
        </div>
     </div>
    </div>
</div>